.langcheck-done {
  background-color: #DDFFDD;
}
.langcheck-unfinished {
  background-color: #FFDDDD;
}


.langcheck-state-0 {
  background-color: #FFBBBB;
}

.langcheck-result-table {
  overflow: auto;
}


.langcheck-state-1 {
  background-color: #FFD7D7;
}
.langcheck-state-2 {
  background-color: #FFDADA;
}
.langcheck-state-3 {
  background-color: #FFDDDD;
}
.langcheck-state-4 {
  background-color: #FFE0E0;
}
.langcheck-state-5 {
  background-color: #FFE3E3;
}
.langcheck-state-6 {
  background-color: #FFE6E6;
}
.langcheck-state-7 {
  background-color: #FFE9E9;
}
.langcheck-state-8 {
  background-color: #FFECEC;
}
.langcheck-state-9 {
  background-color: #FFEFEF;
}



.langcheck-state-10 {
  background-color: #DDFFDD;
}

